body {
	background: url(/poker/images/background.svg) repeat;
}

.combination {
	/*background: red;*/
	height: 100%;
	width: 24%;
	text-align: center;
}
.wraper {
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px #aaa;
	font-style: bold;
	font-size: 22px;
}
.row>div {
	display: inline-block;
}
.row {
	height: 30%;
}
svg {
	width: 100%;
	height: 90%;
}

span {
	color: white;
}
.hand {
	
}