body {
	background: url(../images/background.png) repeat;
}
.container {
	font-family: 'Oswald', sans-serif;
	text-shadow: 1px 1px 1px #aaa;
	font-style: bold;
	font-size: 22px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.empty {
	display: block;
}

.combination {
	text-align: center;
	margin-top: 15px;
	margin-bottom:15px;
}
span {
	color: white;
}
.hand {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#petrosyan {
	width: 100%;
}

@media (orientation: portrait) {
	.empty {
		display: none;
	}
	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media (orientation: landscape) {
	.empty {
		display: block;
	}
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}